doctype html(lang='en')
html
  head
    title Webschool - Javascrip
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content='meta desc')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    header(role="navigation" aria-label="Menu Principal")
      img.atom-logo-header( src='img/logo-header.png',
                          alt='Logo da empresa Webschool',
                          aria-label='Logo da empresa Webschool')

      input(type='checkbox',
            id='atom-menu-checkbox',
            class='atom-menu-checkbox')
      nav.molecule-menu(role='menu')
        label(for='atom-menu-checkbox',
              class='atom-menu-handle',
              role='menuitem',
              tabindex='0',
              aria-haspopup='true')
        ul.molecule-menu-header(role='menubar', 
                                aria-hidden='true')
          li.atom-item-menu(role='menuitem',
                            tabindex='-1')
            a.atom-link-menu(href='#') home
          li.atom-item-menu(role='menuitem',
                            tabindex='-1')
            a.atom-link-menu(href='#') cursos
          li.atom-item-menu(role='menuitem',
                            tabindex='-1')
            a.atom-link-menu(href='#') material de apoio
          li.atom-item-menu(role='menuitem',
                            tabindex='-1')
            a.atom-link-menu(href='#') instrutores
          li.atom-item-menu(role='menuitem',
                            tabindex='-1')
            button.atom-button-matricule-se-small matricule-se

    //- main
    //-   article
    //-     h1.atom-title-primary
    //-       | Quer aprender Javascript de VERDADE?
    //-     .molecule-video-chamada
    //-       video.atom-video(src='https://www.youtube.com/watch?v=gS7oD8r9YSY')
    //-     h2.atom-title-secondary Aprenda, capacite-se e destaque-se no mercado.
    //-     p
    //-       | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, 
    //-       | incidunt! Quis culpa ex, provident nesciunt minima recusandae 
    //-       | veniam nihil accusantium, id deleniti doloremque ut sit iste 
    //-       | officiis commodi asperiores laudantium.
    //-   article
    //-     h3.atom-title-section Confira nossos cursos
    //-     div
    //-       section.molecule-box-curso
    //-         img.atom-curso-thumb(src='', alt='')
    //-         h4.atom-title-curso
    //-           | Nome do Curso
    //-         p.atom-curso-resume
    //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, 
    //-           | commodi, officia...
    //-       section.molecule-box-ver-mais
    //-         button.atom-button-ver-mais ver mais
    //-   article
    //-     p.atom-paragraph
    //-       | Cadastre-se j&aacute; e tenha aceso gratuito ao nosso material 
    //-       | did&aacute;tico.
    //-     button.atom-matricule-se-medium matricule-se
    //-   article
    //-   article
    //- footer


    script(type='text/javascript', src='js/main.js')
